# Making fake data

For the sake of this workshop, we'll be using
some fake data from a fake experiment. This Jupyter
notebook contains code to create the data.

Let's say that we're interested in seeing how people bond
(or build rapport) with one another based on different
kinds of conversations. In our fake experiment, we'll ask
two strangers to come into the lab and ask them to have
a conversation with one another. They'll be randomly 
assigned to either have a conversation about a really good thing
that happened to them in the past week ("celebration"
conversation) or a really bad thing that happened to them in 
the past week ("commiseration" conversation). Their conversation
will be audio-recorded. After they have the conversation,
they'll each individually answer a question about how much
they like their partner.

Let's say that this fake experiment is going to test
the amount of positive emotion words versus negative
emotion words that people said during those
conversations. We want to see whether partners who use
similar negative and/or positive words in these two
different kinds of conversations end up liking
their partner more.

To figure out negative and positive word similarity,
let's say that we transcribed their conversations and
simply counted up the number of times per turn that
each person used negative words and positive words.
We then get the similarity score by taking the correlation
of those two scores.

This means our data will look something like this:
* **Dependent variable**: `rapport` (1-5 scale)
* **Independent variables**: 
    * `negative_word_similarity` (-1 to +1; correlation 
        of negative words used by conversation partners)
    * `positive_word_similarity` (-1 to +1; correlation 
        of positive words used by conversation partners)
    * `conversation_type` (0 = "commiseration" conversation;
        1 = "celebration" conversation)

**Created by**: A. Paxton (University of 
California, Berkeley)

**Last modified**: 05 April 2018

***

## Import libraries

In [1]:
import pandas as pd
import numpy as np
import random

## Specify how many dyads we want

How many total dyads do we want?

In [2]:
dyad_n = 40

How many commiseration dyads do we want?

In [3]:
commiseration_dyads = 25

However many we have left over is how many
celebration dyads we have.

In [4]:
celebration_dyads = dyad_n - commiseration_dyads

## Add dyads to dataframe

Create dyad IDs and dataframe for commiseration condition.

In [5]:
commiseration_dyad_IDs = range(1, 
                               commiseration_dyads+1)

In [6]:
commiseration_dyad_df = pd.DataFrame({'dyad_ID': commiseration_dyad_IDs,
                                      'condition': 0})

Create dyad IDs and dataframe for celebration condition.

In [7]:
celebration_dyad_IDs = range(commiseration_dyads+1,
                             dyad_n+1)

In [8]:
celebration_dyad_df = pd.DataFrame({'dyad_ID': celebration_dyad_IDs,
                                   'condition': 1})

## Randomly generate rapport variables

Let's make sure that our commiseration mean 
is higher than the celebration mean.

In [9]:
commiseration_mean = 4

In [10]:
celebration_mean = 2

Now, let's create separate distributions for each rapport.

In [11]:
commiseration_rapport = [round(random.triangular(1,5, commiseration_mean), 0)
                         for dyad in range(0, commiseration_dyads)]

In [12]:
celebration_rapport = [round(random.triangular(1,5, celebration_mean), 0) 
                         for dyad in range(0, celebration_dyads)]

And now we add them to the dataframes.

In [13]:
commiseration_dyad_df['rapport'] = commiseration_rapport

In [14]:
celebration_dyad_df['rapport'] = celebration_rapport

## Randomly create similarity scores

Let's create them for the commiseration participants.

In [15]:
commiseration_positive = commiseration_dyad_df['rapport']/5 * .25 + [
        random.random() for dyad in range(0, commiseration_dyads)]

In [16]:
commiseration_positive = [round(score, 2) 
                          if score <= 1 
                          else 1 
                          for score in commiseration_positive ]

In [17]:
commiseration_negative = commiseration_dyad_df['rapport']/5 * .75 + [
            random.random() for dyad in range(0, commiseration_dyads)]

In [18]:
commiseration_negative = [round(score, 2) 
                          if score <= 1 
                          else 1 
                          for score in commiseration_negative ]

And for the celebration participants.

In [19]:
celebration_positive = celebration_dyad_df['rapport']/5 * .5 + [
        random.random() for dyad in range(0, celebration_dyads)]

In [20]:
celebration_positive = [round(score, 2) 
                          if score <= 1 
                          else 1 
                          for score in celebration_positive ]

In [21]:
celebration_negative = celebration_dyad_df['rapport']/5 * .3 + [
        random.random() for dyad in range(0, celebration_dyads)]

In [22]:
celebration_negative = [round(score, 2) 
                          if score <= 1 
                          else 1 
                          for score in celebration_negative ]

Again, we'll add them to the dataframe.

In [23]:
commiseration_dyad_df['negative_word_similarity'] = commiseration_negative

In [24]:
commiseration_dyad_df['positive_word_similarity'] = commiseration_positive

In [25]:
celebration_dyad_df['negative_word_similarity'] = celebration_negative

In [26]:
celebration_dyad_df['positive_word_similarity'] = celebration_negative

## Create unified dataset

Now that we've created separate subsets for each condition,
we'll combine them to create a single experiment dataframe.

In [27]:
experiment_df = commiseration_dyad_df.append(celebration_dyad_df).reset_index(drop=True)

In [28]:
experiment_df

,condition,dyad_ID,rapport,negative_word_similarity,positive_word_similarity
0,0,1,4.0,1.00,0.53
1,0,2,4.0,1.00,0.94
2,0,3,3.0,0.81,1.00
3,0,4,4.0,1.00,0.91
4,0,5,4.0,1.00,0.69
5,0,6,2.0,1.00,1.00
6,0,7,4.0,1.00,0.68
7,0,8,4.0,0.91,0.64
8,0,9,4.0,1.00,0.77
9,0,10,3.0,1.00,0.89
10,0,11,4.0,0.80,0.57
11,0,12,2.0,1.00,0.62
12,0,13,4.0,1.00,1.00
13,0,14,4.0,1.00,1.00
14,0,15,5.0,1.00,0.38
15,0,16,3.0,0.61,0.88
16,0,17,3.0,1.00,0.25
17,0,18,3.0,0.84,0.94
18,0,19,3.0,0.49,0.41
19,0,20,4.0,0.78,0.66
20,0,21,4.0,1.00,1.00
21,0,22,4.0,1.00,1.00
22,0,23,4.0,1.00,0.83
23,0,24,3.0,1.00,0.94
24,0,25,2.0,1.00,0.92
25,1,26,2.0,0.51,0.51
26,1,27,3.0,0.92,0.92
27,1,28,2.0,0.87,0.87
28,1,29,2.0,0.59,0.59
29,1,30,3.0,0.45,0.45
30,1,31,2.0,0.35,0.35
31,1,32,4.0,0.97,0.97
32,1,33,3.0,1.00,1.00
33,1,34,2.0,0.55,0.55
34,1,35,2.0,1.00,1.00
35,1,36,2.0,0.72,0.72
36,1,37,4.0,0.89,0.89
37,1,38,2.0,1.00,1.00
38,1,39,3.0,0.99,0.99
39,1,40,3.0,0.59,0.59

## Save to file

In [29]:
experiment_df.to_csv('simulated_experiment_data.csv',
                     sep=',',
                     header=True,
                     index=False)